/* ===================== LIGHT MODE ===================== */
.product-page {
  padding: 40px 20px;
  
  font-family: "Segoe UI", sans-serif;
}

/* MAIN CONTAINER */
.product-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  gap: 190px;
  background: #ffffff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
  height: auto;
}

/* IMAGE */
.image-box {
  position: relative;
}

.image-box img {
  width: 420px;
  max-width: 100%;
  border-radius: 14px;
}

.badge {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #ff9800;
  color: white;
  padding: 6px 14px;
  font-size: 14px;
  border-radius: 20px;
}

/* DETAILS */
.product-details {
  flex: 1;
}

.product-details h1 {
  font-size: 28px;
}

.sub-text {
  color: #555;
  margin-bottom: 6px;
}

.rating {
  margin: 12px 0;
}

.rating span {
  color: #777;
}

/* PRICE */
.price-box {
  margin-top: 20px;
}

.sell-price {
  font-size: 26px;
  font-weight: bold;
  color: #1e88e5;
}

.profit {
  color: #2e7d32;
  font-weight: bold;
}

/* BUTTONS */
.btn-group {
  margin-top: 25px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.buy-btn {
  background: #1e88e5;
  color: white;
  border: none;
  padding: 14px 24px;
  border-radius: 8px;
}

.cart-btn {
  background: white;
  border: 2px solid #1e88e5;
  color: #1e88e5;
  padding: 14px 24px;
  border-radius: 8px;
}

/* SUGGESTED */
.suggested-section {
  max-width: 1100px;
  margin: 60px auto 0;
}

.suggested-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.suggested-card {
  background: white;
  padding: 15px;
  border-radius: 14px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.suggested-price {
  font-weight: bold;
  color: #1e88e5;
}

/* ===================== DARK MODE ===================== */


body.dark-mode .product-container,
body.dark-mode .suggested-card {
  background: #1e1e1e;
  color: #ffffff;
}

body.dark-mode .sub-text,
body.dark-mode .rating span {
  color: #bbbbbb;
}

body.dark-mode .sell-price {
  color: #64b5f6;
}

body.dark-mode .cart-btn {
  background: transparent;
  color: #64b5f6;
  border-color: #64b5f6;
}

/* ===================== MOBILE ===================== */
@media (max-width: 768px) {
  .product-container {
    flex-direction: column;
    padding: 20px;
  }

  .product-details h1 {
    font-size: 24px;
  }

  .sell-price {
    font-size: 22px;
  }
}

.not-found {
  text-align: center;
  margin-top: 100px;
}
