.header-container {
  width: 100%;
  height: 70px;
  background: #111;               
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  z-index: 999;
}


.logo {
  color: #f5c024;                 
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
}



.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}


.search-box {
  display: flex;
  align-items: center;
  background: #1a1a1a;
  padding: 8px 14px;
  border-radius: 30px;
  border: 2px solid #333;
  width: 250px;
  transition: 0.3s;
}

.search-box:hover {
  border-color: #f5c024;
}

.search-input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  width: 100%;
  font-size: 14px;
}

.search-icon {
  color: #aaa;
  font-size: 16px;
  margin-right: 10px;
}


.theme-btn {
  width: 48px;
  height: 28px;
  border-radius: 30px;
  border: none;
  background: #ffd83d;            
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s;
}

.theme-btn:hover {
  background: #ffcc00;
}

.moon-icon {
  font-size: 18px;
}
