.body {
    margin: 0;
    margin-top: 0;
    padding: 0;
}

.construction-page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    background: none;
    color: #111111;
    padding: 0 5%;
    transition: all 0.6s ease-in-out;
}

.construction-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    max-width: 600px;
    animation: fadeInUp 1.2s ease;
}


.construction-worker-logo {
    max-width: 500px;
    height: auto;
    margin-bottom: 1rem;
    border-radius: 7rem;
    box-shadow: 0 16px 30px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.construction-worker-logo:hover {
    transform: scale(1.05);
}

.construction-back-button {
    background-color: #111111;
    color: #00FF66;
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    text-decoration: none;
    font-weight: 600;
    border: 2px solid #00FF66;
    transition: all 0.3s ease;
    display: inline-block;
}

.construction-back-button:hover {
    background-color: #00FF66;
    color: #111111;
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 255, 102, 0.6), 0 0 30px rgba(0, 255, 102, 0.4);
}


@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media (max-width: 768px) {
    .construction-worker-logo {
        max-width: 450px;
        border-radius: 5rem;
    }

    .construction-back-button {
        padding: 0.7rem 1.8rem;
        font-size: 0.9rem;
    }

    .construction-page-container {
        padding: 5rem 3%;
    }
}


@media (max-width: 576px) {
    .construction-worker-logo {
        max-width: 290px;
        border-radius: 3rem;
    }

    .construction-back-button {
        padding: 0.6rem 1.6rem;
        font-size: 0.85rem;
    }

    .construction-content-wrapper {
        max-width: 90%;
    }

    .construction-page-container {
        padding: 4rem 2%;
    }
}