* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  /* width: 100%; */
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  background-color: #ffffff;
  color: #1b1b1b;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode {
  background-color: #1a1a1a;
  color: #e0e0e0;
}

#root {
  min-height: 100vh;
}
